.Content {
  padding: 1rem;
  color: var(--gray-600);
  font: "Inter";
}

.Content .Title {
  font-size: 1.4rem;
  border-bottom: 1px var(--gray-600) solid;
}

.Buttons {
  justify-content: start;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0.7rem 1rem;
  width: fit-content;
}

.Cardlist {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  margin-top: 30px;
  gap: 6rem;
}

.Switch {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-left: 10px;
}

.Switch .SwitchWapper {
  display: inline-block;
  width: 60px;
  height: 34px;
  position: relative;
}

.Switch .SwitchWapper .SwitchButton {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  background-color: var(--gray-400);
}

.LineItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Switch .SwitchWapper input {
  opacity: 0;
  width: 0;
  height: 0;
}

.Switch .SwitchWapper .SwitchButton::before {
  content: "";
  width: 26px;
  height: 26px;
  position: absolute;
  left: 4px;
  bottom: 4px;
  border-radius: 50%;
  transition: 0.4s all ease;
  background-color: aliceblue;
}

.Switch .SwitchWapper input:checked + .SwitchButton {
  background-color: var(--green-300);
}

.Switch .SwitchWapper input:checked + .SwitchButton::before {
  transform: translateX(26px);
}

.filterPrice {
  display: flex;
  align-items: center;
}
.filterPrice input {
  border: none;
  border-radius: 10px;
  padding: 0.5rem;
  font-size: 18px;
  width: 15rem;
  border-bottom: 2px var(--gray-400) solid;
  background-color: var(--gray-300);
  margin-right: 10px;
}

.filterButton {
  background-color: var(--green-300);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  color: var(--gray-600);
  font-weight: 600;
  font-size: 20px;
}
